<svg version="1.1" class="quote__map" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	y="0px" viewBox="0 0 1366 922" style="enable-background:new 0 0 1366 922;" xml:space="preserve">

    <style type="text/css">
        .stx13{display:inline;}
        .stx19{fill:#E1A63C;}
        .stx20{opacity:0.6;}
        .stx30{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
        .stx35{display:inline;opacity:0.3;fill:#002856;}
        .stx37{font-size:30.9286px;}
        .stx40{display:inline;opacity:0.3;fill:#C22A2E;}
        .stx41{display:inline;fill:none;stroke:#1B1514;stroke-width:2;stroke-miterlimit:10;}
        .st44{fill:#476CA4;stroke:#3B2E4F;stroke-width:3.1984;stroke-miterlimit:10;}
        .st46{fill:#3B2E4F;}
        .st47{font-size:65.4463px;}
    </style>

    <image style="overflow:visible;" width="1366" height="922" xlink:href="media/assets/img/navetec/app/gamma/gamma2.jpg"></image>

    <g id="ISLA_G_1_">
        <g>
            <polygon id="G_N01_1_" class="property pb-sprite-1" points="1175.3,679.45 1175.58,869.08 1129.41,869.12 1115.5,869.7 1108.34,682.14"/>
            <g>
                <polygon class="stx19" points="1142.01,714.8 1135.71,721.67 1142.62,727.98"/>
                <g class="stx20">
                    <g>
                        <defs>
                            <rect id="SVGID_13_" x="1142.39" y="714.64" transform="matrix(0.9989 -0.0463 0.0463 0.9989 -32.1311 53.7605)" width="6.61" height="13.2"/>
                        </defs>
                        <clipPath id="SVGID_14_">
                            <use xlink:href="#SVGID_13_"  style="overflow:visible;"/>
                        </clipPath>
                        <polygon class="stx19" points="1142.09,714.8 1142.7,727.98 1149,721.1"/>
                    </g>
                </g>
            </g>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 1125.1036 761.5013)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.11" y="15.51" class="mustard__fill futura-book fs__13px">1G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 1130.6735 691.0457)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(1 -3.810011e-03 3.810011e-03 1 1144.8044 862.3354)" class="white__fill futura-light fs__9px">8.66</text>
            <text transform="matrix(0.9988 -0.0485 0.0485 0.9988 1116.4976 862.9409)" class="white__fill futura-light fs__9px">3.93</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 1113.9437 766.71)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 1165.2701 762.9112)" class="white__fill futura-light fs__9px">39.60</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 1122.8827 789.2475)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">523.11 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g>
            <polygon id="G_N02_1_" class="property pb-sprite-2" points="1108.34,682.14 1115.5,869.7 1048.53,872.35 1041.4,684.79"/>
            <g>
                <polygon class="stx19" points="1073.31,717.18 1067.01,724.05 1073.92,730.36"/>
                <g class="stx20">
                    <g>
                        <defs>
                            
                                <rect id="SVGID_15_" x="1073.69" y="717.01" transform="matrix(0.9989 -0.0463 0.0463 0.9989 -32.3145 50.5854)" width="6.61" height="13.2"/>
                        </defs>
                        <clipPath id="SVGID_16_">
                            <use xlink:href="#SVGID_15_"  style="overflow:visible;"/>
                        </clipPath>
                        <polygon class="stx19" points="1073.39,717.17 1074,730.35 1080.3,723.48"/>
                    </g>
                </g>
            </g>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 1060.3712 763.3317)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.11" y="15.51" class="mustard__fill futura-book fs__13px">2G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 1064.4755 693.0935)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 1072.23 864.9525)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 1049.2108 768.5406)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 1059.4904 791.0294)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g>
            <polygon id="G_N03_1_" class="property pb-sprite-1" points="1041.4,684.79 1048.53,872.35 981.59,874.97 974.14,687.18"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 993.936 765.8917)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.11" y="15.51" class="mustard__fill futura-book fs__13px">3G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 998.0398 695.6527)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 1005.7943 867.5118)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 982.775 771.1014)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 993.0561 793.5894)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g>
            <polygon id="G_N04_1_" class="property pb-sprite-2" points="974.14,687.18 981.59,874.97 914.58,877.47 907.22,689.92"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 925.6585 769.8995)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.11" y="15.51" class="mustard__fill futura-book fs__13px">4G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 929.7625 699.6613)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 937.5168 871.5193)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 914.4983 775.1099)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 924.7776 797.5963)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g>
            <polygon id="G_N05_1_" class="property pb-sprite-1" points="907.22,689.92 914.58,877.47 847.35,880.07 840.24,692.56"/>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 729.5889 707.4161)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 737.3444 879.2751)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 714.3249 782.8637)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 724.6048 805.3531)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.16 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 861.4548 770.91)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.11" y="15.51" class="mustard__fill futura-book fs__13px">5G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 865.5579 700.6697)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 873.3145 872.5306)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 850.2943 776.1188)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 860.5748 798.6058)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g>
            <polygon id="G_N06_1_" class="property pb-sprite-2" points="840.24,692.56 847.35,880.07 780.38,882.43 773.26,694.91"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 792.397 773.6795)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.11" y="15.51" class="mustard__fill futura-book fs__13px">6G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 796.5021 703.7469)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 804.1173 875.3215)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 781.3526 778.863)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 790.3733 801.4509)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g>
            <polygon id="G_N07_1_" class="property pb-sprite-1" points="773.26,694.91 780.38,882.43 713.47,885.15 706.35,697.56"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 725.4857 777.6563)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.11" y="15.51" class="mustard__fill futura-book fs__13px">7G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 729.5889 707.4161)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 737.3444 879.2751)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 714.3249 782.8637)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 724.6048 805.3531)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g>
            <polygon id="G_N08_1_" class="property pb-sprite-2" points="706.35,697.56 713.47,885.15 646.45,887.73 639.38,699.97"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 658.465 778.8568)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.11" y="15.51" class="mustard__fill futura-book fs__13px">8G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 662.5693 709.5359)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 670.9014 881.2519)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 646.4332 784.06)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 657.1949 806.7766)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[0].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[0].idProperty)">
            <polygon id="G_N09_1_" class="property pb-sprite-1" points="639.38,699.97 646.45,887.73 579.58,890.11 572.39,702.56"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 591.3093 781.3412)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.11" y="15.51" class="mustard__fill futura-book fs__13px">9G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 595.4142 710.709)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 602.9518 883.3816)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 579.4985 786.0286)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 590.4172 809.9633)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[1].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[1].idProperty)">
            <polygon id="G_N10_1_" class="property pb-sprite-2" points="572.39,702.56 579.58,890.11 512.58,892.82 505.43,705.28"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 524.5027 784.0569)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="1.93" y="15.51" class="mustard__fill futura-book fs__13px"> 10G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 528.6054 714.9138)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 536.9688 886.4523)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 512.5175 789.5947)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 523.2626 812.4515)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[2].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[2].idProperty)">
            <polygon id="G_N11_1_" class="property pb-sprite-1" points="505.43,705.28 512.58,892.82 445.64,895.49 438.49,707.68"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 457.5589 788.7977)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="1.93" y="15.51" class="mustard__fill futura-book fs__13px"> 11G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 461.6638 718.4924)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 470.4433 890.7026)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 445.544 794.2517)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 457.3401 816.9306)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[3].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[3].idProperty)">
            <polygon id="G_N12_1_" class="property pb-sprite-2" points="438.49,707.68 445.64,895.49 378.67,897.84 371.55,710.29"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 390.5894 789.075)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="1.93" y="15.51" class="mustard__fill futura-book fs__13px"> 12G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 394.6902 719.863)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 402.824 890.7049)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 378.5807 794.1118)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 389.5633 816.7706)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[4].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[4].idProperty)">
            <polygon id="G_N13_1_" class="property pb-sprite-1" points="371.55,710.29 378.67,897.84 311.69,900.49 304.61,712.97"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 323.6138 793.0772)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="1.93" y="15.51" class="mustard__fill futura-book fs__13px"> 13G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 327.7168 722.4634)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 335.8496 894.9031)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 311.6306 798.1048)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 322.5911 820.6544)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[5].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[5].idProperty)">
            <polygon id="G_N14_1_" class="property pb-sprite-2" points="304.61,712.97 311.69,900.49 244.74,903.16 237.6,715.33"/>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 260.7623 725.7309)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 268.8808 897.7146)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 244.7099 800.214)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 256.0716 824.3366)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 256.6598 795.4507)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="1.93" y="15.51" class="mustard__fill futura-book fs__13px"> 14G</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[6].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[6].idProperty)">
            <polygon id="G_N15_1_" class="property pb-sprite-1" points="237.6,715.33 244.74,903.16 177.79,905.55 170.65,718.01"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 189.7151 796.7875)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="1.93" y="15.51" class="mustard__fill futura-book fs__13px"> 15G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 193.8185 726.7382)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 201.9948 899.423)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 178.3197 802.0297)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 189.0864 824.4728)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[7].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[7].idProperty)">
            <polygon id="G_N16_1_" class="property pb-sprite-2" points="170.65,718.01 177.79,905.55 110.9,908.2 103.73,720.69"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 122.8183 799.9445)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="1.93" y="15.51" class="mustard__fill futura-book fs__13px"> 16G</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 127.6398 729.531)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 134.9554 902.3387)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 110.833 804.9138)" class="white__fill futura-light fs__9px">39.23</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 122.1422 827.8353)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">549.22 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[8].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[8].idProperty)">
            <polygon id="G_N17_1_" class="property pb-sprite-1" points="0.32,724.51 103.73,720.69 110.9,908.2 0,912.35"/>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 43.6225 732.6922)" class="white__fill futura-light fs__9px">21.57</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 52.7186 904.3264)" class="white__fill futura-light fs__9px">23.13</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 5.5094 807.093)" class="white__fill futura-light fs__9px">39.26</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 37.7946 830.9911)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">876.79 m</tspan><tspan x="36.91" y="-3.24" class="white__fill futura-light fs__9px">2</tspan></text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 39.7917 802.3235)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="1.93" y="15.51" class="mustard__fill futura-book fs__13px"> 17G</tspan></text>
        </g>
        <g>
            <line class="stx30" x1="1115.5" y1="869.7" x2="1108.34" y2="682.14"/>
            <line class="stx30" x1="1048.53" y1="872.35" x2="1041.4" y2="684.79"/>
            <line class="stx30" x1="981.59" y1="874.97" x2="974.14" y2="687.18"/>
            <line class="stx30" x1="914.58" y1="877.47" x2="907.22" y2="689.92"/>
            <line class="stx30" x1="847.35" y1="880.07" x2="840.24" y2="692.56"/>
            <line class="stx30" x1="780.38" y1="882.43" x2="773.26" y2="694.91"/>
            <line class="stx30" x1="713.47" y1="885.15" x2="706.35" y2="697.56"/>
            <line class="stx30" x1="646.45" y1="887.73" x2="639.38" y2="699.97"/>
            <line class="stx30" x1="579.58" y1="890.11" x2="572.39" y2="702.56"/>
            <line class="stx30" x1="512.58" y1="892.82" x2="505.43" y2="705.28"/>
            <line class="stx30" x1="445.64" y1="895.49" x2="438.49" y2="707.68"/>
            <line class="stx30" x1="378.67" y1="897.84" x2="371.55" y2="710.29"/>
            <line class="stx30" x1="311.69" y1="900.49" x2="304.61" y2="712.97"/>
            <line class="stx30" x1="244.74" y1="903.16" x2="237.6" y2="715.33"/>
            <line class="stx30" x1="177.79" y1="905.55" x2="170.65" y2="718.01"/>
            <line class="stx30" x1="110.9" y1="908.2" x2="103.73" y2="720.69"/>
        </g>
    </g>
    <g id="ISLA_H_1_">
        <g>
            <polygon id="H_N01_1_" class="property pb-sprite-2" points="1098.44,601.46 1091.11,407.03 1024.31,409.7 1031.69,603.82"/>
            <g>
                <polygon class="stx19" points="1061.02,547.96 1054.73,554.82 1061.63,561.11"/>
                <g class="stx20">
                    <g>
                        <defs>
                            
                                <rect id="SVGID_17_" x="1061.4" y="547.8" transform="matrix(0.9989 -0.0463 0.0463 0.9989 -24.5007 49.8356)" width="6.59" height="13.16"/>
                        </defs>
                        <clipPath id="SVGID_18_">
                            <use xlink:href="#SVGID_17_"  style="overflow:visible;"/>
                        </clipPath>
                        <polygon class="stx19" points="1061.1,547.96 1061.71,561.1 1067.99,554.25"/>
                    </g>
                </g>
            </g>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 1042.739 492.2688)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.71" y="15.47" class="mustard__fill futura-book fs__13px">1H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 1046.8319 420.2109)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 1054.5668 595.0403)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 1031.6082 497.4653)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 1084.2054 494.2506)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 1041.8607 519.8941)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">569.80 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g>
            <polygon id="H_N02_1_" class="property pb-sprite-1" points="1031.69,603.82 1024.31,409.7 957.57,412.36 964.94,606.5"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 977.199 495.2103)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.71" y="15.47" class="mustard__fill futura-book fs__13px">2H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 981.2932 423.152)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 989.0272 597.9844)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 966.0685 500.4066)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 976.3211 522.8337)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">569.80 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g>
            <polygon id="H_N03_1_" class="property pb-sprite-2" points="964.94,606.5 957.57,412.36 890.74,414.71 898.16,608.86"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 910.5745 497.4564)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.71" y="15.47" class="mustard__fill futura-book fs__13px">3H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 914.6687 425.395)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 922.4017 600.2255)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 899.4446 502.6508)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 909.6959 525.0759)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">569.80 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g>
            <polygon id="H_N04_1_" class="property pb-sprite-1" points="898.16,608.86 890.74,414.71 823.96,417.38 831.36,611.53"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 843.3011 500.2785)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.71" y="15.47" class="mustard__fill futura-book fs__13px">4H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 847.3945 428.2177)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 855.1284 603.0482)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 832.1699 505.4716)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 842.4235 527.8979)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">569.80 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g>
            <polygon id="H_N05_1_" class="property pb-sprite-2" points="831.36,611.53 823.96,417.38 757.18,419.81 764.53,614.16"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 776.4422 502.7552)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.71" y="15.47" class="mustard__fill futura-book fs__13px">5H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 780.5363 430.6962)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 788.2707 605.5256)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 765.3133 507.951)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 775.5643 530.3785)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">569.80 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g>
            <polygon id="H_N06_1_" class="property pb-sprite-1" points="764.53,614.16 757.18,419.81 690.44,422.43 697.82,616.57"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 710.8801 506.3703)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.71" y="15.47" class="mustard__fill futura-book fs__13px">6H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 714.9743 434.313)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 722.7077 609.1426)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 699.7507 511.5672)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 710.0023 533.9946)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">569.80 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[9].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[9].idProperty)">
            <polygon id="H_N07_1_" class="property pb-sprite-2" points="690.44,422.43 623.63,425.05 631.03,619.18 697.82,616.57"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 643.6116 509.115)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.71" y="15.47" class="mustard__fill futura-book fs__13px">7H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 647.7057 437.0543)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 655.4402 611.8848)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 632.4804 514.3099)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 642.7336 536.7354)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">569.80 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[10].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[10].idProperty)">
            <polygon id="H_N08_1_" class="property pb-sprite-1" points="623.63,425.05 631.03,619.18 564.26,621.58 556.83,427.46"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 576.6158 511.3027)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.71" y="15.47" class="mustard__fill futura-book fs__13px">8H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 580.7097 439.2453)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 588.4441 614.0748)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 565.4839 516.4981)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 575.7374 538.9261)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">569.80 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[11].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[11].idProperty)">
            <polygon id="H_N09_1_" class="property pb-sprite-2" points="556.83,427.46 564.26,621.58 497.46,624.23 490.1,430.08"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 510.0717 513.9498)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="7.71" y="15.47" class="mustard__fill futura-book fs__13px">9H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 514.1648 441.8901)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 521.8992 616.7206)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 498.9398 519.1447)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 509.1936 541.5712)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">569.80 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[12].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[12].idProperty)">
            <polygon id="H_N10_1_" class="property pb-sprite-1" points="497.46,624.23 490.1,430.08 423.35,432.74 430.71,626.88"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 442.7639 516.8732)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="4.05" y="15.47" class="mustard__fill futura-book fs__13px">10H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 446.8574 444.8142)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 454.5909 619.6437)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 431.6327 522.069)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 441.8854 544.4966)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">569.80 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[13].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[13].idProperty)">
            <polygon id="H_N11_1_" class="property pb-sprite-2" points="430.71,626.88 423.35,432.74 356.52,435.1 363.91,629.25"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 376.6052 519.3894)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="4.05" y="15.47" class="mustard__fill futura-book fs__13px">11H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 380.6986 447.3284)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 388.4341 622.1598)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 365.4748 524.5851)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 375.7272 547.0118)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">569.80 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[14].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[14].idProperty)">
            <polygon id="H_12_1_" class="property pb-sprite-1" points="363.91,629.25 356.52,435.1 289.73,437.75 297.15,631.9"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 310.1537 522.6531)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="4.05" y="15.47" class="mustard__fill futura-book fs__13px">12H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 314.2476 450.5944)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 321.982 625.4238)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 299.0229 527.848)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 309.2758 550.2773)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">569.80 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[15].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[15].idProperty)">
            <polygon id="H_N13_1_" class="property pb-sprite-2" points="297.15,631.9 289.73,437.75 222.98,440.18 230.32,634.57"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 243.3805 524.1483)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="4.05" y="15.47" class="mustard__fill futura-book fs__13px">13H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 247.4747 452.0899)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 255.2086 626.9203)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 232.2492 529.344)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 242.5031 551.7736)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">569.80 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[16].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[16].idProperty)">
            <polygon id="H_N14_1_" class="property pb-sprite-1" points="230.32,634.57 222.98,440.18 155.91,442.8 163.27,636.94"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 176.5591 528.6713)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="4.05" y="15.47" class="mustard__fill futura-book fs__13px">14H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 180.6537 456.612)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 188.3867 631.4425)" class="white__fill futura-light fs__9px">14.00</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 165.4281 533.8663)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 175.6807 556.2937)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">569.80 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[17].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[17].idProperty)">
            <polygon id="H_N15_1_" class="property pb-sprite-2" points="163.27,636.94 155.91,442.8 78.47,445.74 85.86,639.9"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 103.3276 529.3954)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="4.05" y="15.47" class="mustard__fill futura-book fs__13px">15H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 107.4223 457.3391)" class="white__fill futura-light fs__9px">16.25</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 115.1558 633.0584)" class="white__fill futura-light fs__9px">16.25</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 88.6858 534.5925)" class="white__fill futura-light fs__9px">40.70</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 102.4492 557.0188)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">661.38 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[18].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[18].idProperty)">
            <polygon id="H_N16_1_" class="property pb-sprite-1" points="3.78,643.17 85.86,639.9 78.47,445.74 4.04,448.76"/>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 24.5206 532.6838)"><tspan x="0" y="0" class="mustard__fill futura-book fs__13px">NAVE</tspan><tspan x="4.05" y="15.47" class="mustard__fill futura-book fs__13px">16H</tspan></text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 28.6137 460.6226)" class="white__fill futura-light fs__9px">15.64</text>
            <text transform="matrix(0.9988 -0.0495 0.0495 0.9988 36.3492 635.454)" class="white__fill futura-light fs__9px">17.25</text>
            <text transform="matrix(-8.200080e-04 1 -1 -8.200080e-04 8.6083 537.8784)" class="white__fill futura-light fs__9px">40.73</text>
            <text transform="matrix(0.999 -0.0456 0.0456 0.999 23.6416 560.3043)"><tspan x="0" y="0" class="white__fill futura-light fs__9px">669.31 m</tspan><tspan x="36.81" y="-3.23" class="white__fill futura-light fs__9px">2</tspan></text>
        </g>
        <g>
            <line class="stx30" x1="85.86" y1="639.9" x2="78.47" y2="445.74"/>
            <line class="stx30" x1="163.27" y1="636.94" x2="155.91" y2="442.8"/>
            <line class="stx30" x1="222.98" y1="440.18" x2="230.32" y2="634.57"/>
            <line class="stx30" x1="289.73" y1="437.75" x2="297.15" y2="631.9"/>
            <line class="stx30" x1="356.52" y1="435.1" x2="363.91" y2="629.25"/>
            <line class="stx30" x1="423.35" y1="432.74" x2="430.71" y2="626.88"/>
            <line class="stx30" x1="490.1" y1="430.08" x2="497.46" y2="624.23"/>
            <line class="stx30" x1="556.83" y1="427.46" x2="564.26" y2="621.58"/>
            <line class="stx30" x1="624.25" y1="425.03" x2="631.03" y2="619.18"/>
            <line class="stx30" x1="691.05" y1="422.43" x2="697.82" y2="616.57"/>
            <line class="stx30" x1="757.18" y1="419.81" x2="764.53" y2="614.16"/>
            <line class="stx30" x1="823.96" y1="417.38" x2="831.36" y2="611.53"/>
            <line class="stx30" x1="890.74" y1="414.71" x2="898.16" y2="608.86"/>
            <line class="stx30" x1="957.57" y1="412.36" x2="964.94" y2="606.5"/>
            <line class="stx30" x1="1024.31" y1="409.7" x2="1031.69" y2="603.82"/>
        </g>
    </g>
    <g>
        <polygon class="st44" points="1172.81,192.25 1106.06,192.29 1106.57,406.35 690.44,422.15 697.23,616.8 707.03,697.94 714.14,885.41 1130.06,869.49 1176.23,869.45"/>
        <rect x="785.21" y="670.31" class="nvt-sprite-1" width="310.68" height="77.38"/>
        <text transform="matrix(1 0 0 1 813.054 736.4985)" class="white__fill futura-book st47">ETAPA II </text>
    </g>
</svg>
