<svg class="quote__map" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 1366 454" style="enable-background:new 0 0 1366 454;" xml:space="preserve">

	<style type="text/css">
		.st1{fill:#FFFFFF;}
		.st3{font-size:8.7px;}
		.st4{fill:#CED435;}
		.st6{font-size:10.44px;}
		.st7{opacity:0.6;fill:#DCAF4C;enable-background:new;}
		.st9{fill:none;stroke:#FFFFFF;stroke-width:0.87;stroke-miterlimit:10;}
		.st10{fill:none;stroke:#FFFFFF;stroke-width:1.74;stroke-miterlimit:10;}
	</style>

	<image style="overflow:visible;" width="1366" height="454" xlink:href="media/assets/img/navetec/app/beta/beta.jpg"  transform="matrix(1 0 0 1 0.235 0)"></image>
	
	<g class="beta__container">
		
		<g id="isla_a1">
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[0].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[0].idProperty)">
				<rect x="258.7" y="2.5" class="property nvt-sprite-1" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 279.0939 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 279.0939 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 266.7439 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 273.8539 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 278.4642 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 287.8827 84.8451)" class="st4 futura-med st6">32</text>
				
				<rect x="288.9" y="47" transform="matrix(0.7034 -0.7108 0.7108 0.7034 50.3496 224.0265)" class="st7" width="9.3" height="9.3"/>
				<polygon class="st7" points="293.6,58.3 293.6,51.9 293.6,45.1 300.2,51.7"/>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[1].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[1].idProperty)">
				<rect x="323.8" y="2.5" class="property nvt-sprite-2" width="64.9" height="183.3"/>
				<text transform="matrix(1 0 0 1 344.2139 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 344.2139 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 331.8639 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 338.9739 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 343.5839 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 353.0028 84.8451)" class="st4 futura-med st6">33</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[2].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[2].idProperty)">
				<rect x="388.8" y="2.5" class="property nvt-sprite-1" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 409.1139 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 409.1139 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 396.7639 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 403.8739 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 408.4843 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 417.9027 84.8451)" class="st4 futura-med st6">34</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[3].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[3].idProperty)">
				<rect x="453.9" y="2.5" class="property nvt-sprite-2" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 475.5839 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 475.5839 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 463.2339 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 470.3439 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 474.9442 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 484.3627 84.8451)" class="st4 futura-med st6">35</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[4].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[4].idProperty)">
				<rect x="519" y="2.5" class="property nvt-sprite-1" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 540.0239 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 540.0239 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 527.684 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 534.7839 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 539.3939 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 548.8129 84.8451)" class="st4 futura-med st6">36</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[5].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[5].idProperty)">
				<rect x="584.1" y="2.5" class="property nvt-sprite-2" width="64.9" height="183.3"/>
				<text transform="matrix(1 0 0 1 605.5939 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 605.5939 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 593.2539 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 600.3539 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 604.9642 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 614.3827 84.8451)" class="st4 futura-med st6">37</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[6].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[6].idProperty)">
				<rect x="649" y="2.5" class="property nvt-sprite-1" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 670.2739 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 670.2739 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 657.924 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 665.0239 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 669.6342 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 679.0526 84.8451)" class="st4 futura-med st6">38</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[7].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[7].idProperty)">
				<rect x="714.1" y="2.5" class="property nvt-sprite-2" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 735.8439 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 735.8439 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 723.4939 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 730.6039 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 735.204 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 744.6229 84.8451)" class="st4 futura-med st6">39</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[8].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[8].idProperty)">
				<rect x="779.2" y="2.5" class="property nvt-sprite-1" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 800.7339 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 800.7339 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 788.3939 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 795.4939 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 800.1044 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 809.5223 84.8451)" class="st4 futura-med st6">40</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[9].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[9].idProperty)">
				<rect x="844.3" y="2.5" class="property nvt-sprite-2" width="64.9" height="183.3"/>
				<text transform="matrix(1 0 0 1 866.0839 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 866.0839 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 853.7339 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 860.8439 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 865.454 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 874.8729 84.8451)" class="st4 futura-med st6">41</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[10].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[10].idProperty)">
				<rect x="909.2" y="2.5" class="property nvt-sprite-1" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 931.4239 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 931.4239 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 919.0839 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 926.1839 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 930.7938 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 940.2128 84.8451)" class="st4 futura-med st6">42</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[11].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[11].idProperty)">
				<rect x="974.3" y="2.5" class="property nvt-sprite-2" width="64.9" height="183.3"/>
				<text transform="matrix(1 0 0 1 996.3239 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 996.3239 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 983.9739 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 991.0839 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 995.6942 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 1005.1132 84.8451)" class="st4 futura-med st6">43</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[12].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[12].idProperty)">
				<rect x="1039.2" y="2.5" class="property nvt-sprite-1" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 1061.1838 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 1061.1838 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 1048.834 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 1055.9438 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 1060.5536 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 1069.9725 84.8451)" class="st4 futura-med st6">44</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[13].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[13].idProperty)">
				<rect x="1104.3" y="2.5" class="property nvt-sprite-2" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 1126.5239 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 1126.5239 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 1114.1838 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 1121.2839 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 1125.8944 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 1135.3134 84.8451)" class="st4 futura-med st6">45</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[14].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[14].idProperty)">
				<rect x="1169.4" y="2.5" class="property nvt-sprite-1" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 1192.7739 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 1192.7739 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 1180.4238 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 1187.5338 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 1192.1444 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 1201.5634 84.8451)" class="st4 futura-med st6">46</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[15].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[15].idProperty)">
				<rect x="1234.5" y="2.5" class="property nvt-sprite-2" width="64.9" height="183.3"/>
				<text transform="matrix(1 0 0 1 1256.5438 10.5149)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 1256.5438 182.635)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 1244.1938 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 1251.3038 94.5149)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 1255.9139 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 1265.3329 84.8451)" class="st4 futura-med st6">47</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[16].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[16].idProperty)">
				<polygon class="property nvt-sprite-1" points="1299.4,2.5 1364.7,2.5 1364.4,185.8 1299.4,185.8"/>
				<text transform="matrix(1 0 0 1 1321.4739 10.5149)" class="st1 futura-light st3">14.60</text>
				<text transform="matrix(1 0 0 1 1321.4739 182.635)" class="st1 futura-light st3">15.74</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 1309.1239 97.0752)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(-2.984068e-02 -0.9996 0.9996 -2.984068e-02 1362.4438 97.0048)" class="st1 futura-light st3">40.02</text>
				<text transform="matrix(1 0 0 1 1312.3138 94.5149)" class="st1 futura-light st3">606.58m2</text>
				<text transform="matrix(0.97 0 0 1 1316.9247 72.3153)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 1326.3427 84.8451)" class="st4 futura-med st6">48</text>
				
				<rect x="1327.3" y="47" transform="matrix(0.7034 -0.7108 0.7108 0.7034 358.348 962.1108)" class="st7" width="9.3" height="9.3"/>
				<polygon class="st7" points="1332,58.3 1332,51.9 1331.9,45.1 1338.6,51.7"/>
			</g>
		</g>

		<g id="isla_a2">
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[17].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[17].idProperty)">
				<polygon class="property nvt-sprite-2" points="1299.4,268.2 1364.2,268.2 1363.9,451.5 1299.4,451.5"/>
				<text transform="matrix(1 0 0 1 1325.3739 276.8351)" class="st1 futura-light st3">16.21</text>
				<text transform="matrix(1 0 0 1 1329.6339 448.9551)" class="st1 futura-light st3">17.34</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 1309.1539 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(-3.943425e-02 -0.9992 0.9992 -3.943425e-02 1361.7839 363.2754)" class="st1 futura-light st3">40.02</text>
				<text transform="matrix(1 0 0 1 1312.2039 360.8251)" class="st1 futura-light st3">670.70m2</text>
				<text transform="matrix(0.97 0 0 1 1316.8143 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 1326.2333 350.9852)" class="st4 futura-med st6">49</text>
				
				<rect x="1327.3" y="313.1" transform="matrix(0.7034 -0.7108 0.7108 0.7034 169.1923 1041.0447)" class="st7" width="9.3" height="9.3"/>
				<polygon class="st7" points="1332,324.4 1332,318 1331.9,311.2 1338.6,317.8"/>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[18].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[18].idProperty)">
				<rect x="1234.5" y="268.2" class="property nvt-sprite-1" width="64.9" height="183.3"/>
				<text transform="matrix(1 0 0 1 1256.5438 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 1256.5438 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 1244.1938 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 1251.3038 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 1255.9139 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 1265.3329 350.9852)" class="st4 futura-med st6">50</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[19].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[19].idProperty)">
				<rect x="1169.4" y="268.2" class="property nvt-sprite-2" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 1191.6938 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 1191.6938 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 1179.3439 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 1186.4539 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 1191.0536 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 1200.4725 350.9852)" class="st4 futura-med st6">51</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[20].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[20].idProperty)">
				<rect x="1104.5" y="268.2" class="property nvt-sprite-1" width="64.9" height="183.3"/>
				<text transform="matrix(1 0 0 1 1126.5239 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 1126.5239 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 1114.1838 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 1121.2839 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 1125.8944 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 1135.3134 350.9852)" class="st4 futura-med st6">52</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[21].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[21].idProperty)">
				<rect x="1039.4" y="268.2" class="property nvt-sprite-2" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 1063.2039 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 1063.2039 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 1050.8539 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 1057.9639 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 1062.5741 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 1071.993 350.9852)" class="st4 futura-med st6">53</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[22].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[22].idProperty)">
				<rect x="974.3" y="268.2" class="property nvt-sprite-1" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 998.1939 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 998.1939 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 985.8439 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 992.9539 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 997.5643 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 1006.9833 350.9852)" class="st4 futura-med st6">54</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[23].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[23].idProperty)">
				<rect x="909.2" y="268.2" class="property nvt-sprite-2" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 931.4239 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 931.4239 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 919.0839 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 926.1839 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 930.7938 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 940.2128 350.9852)" class="st4 futura-med st6">55</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[24].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[24].idProperty)">
				<rect x="844.3" y="268.2" class="property nvt-sprite-1" width="64.9" height="183.3"/>
				<text transform="matrix(1 0 0 1 866.0839 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 866.0839 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 853.7339 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 860.8439 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 865.454 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 874.8729 350.9852)" class="st4 futura-med st6">56</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[25].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[25].idProperty)">
				<rect x="779.2" y="268.2" class="property nvt-sprite-2" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 802.7539 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 802.7539 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 790.4139 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 797.5139 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 802.1239 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 811.5428 350.9852)" class="st4 futura-med st6">57</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[26].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[26].idProperty)">
				<rect x="714.1" y="268.2" class="property nvt-sprite-1" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 737.7439 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 737.7439 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 725.4039 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 732.5039 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 737.1141 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 746.5326 350.9852)" class="st4 futura-med st6">58</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[27].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[27].idProperty)">
				<rect x="649" y="268.2" class="property nvt-sprite-2" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 672.2139 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 672.2139 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 659.8739 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 666.9739 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 671.5839 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 681.0028 350.9852)" class="st4 futura-med st6">59</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[28].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[28].idProperty)">
				<rect x="584.1" y="268.2" class="property nvt-sprite-1" width="64.9" height="183.3"/>
				<text transform="matrix(1 0 0 1 607.8839 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 607.8839 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 595.5339 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 602.6439 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 607.2543 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 616.6727 350.9852)" class="st4 futura-med st6">60</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[29].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[29].idProperty)">
				<rect x="519" y="268.2" class="property nvt-sprite-2" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 542.8739 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 542.8739 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 530.5239 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 537.6339 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 542.244 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 551.663 350.9852)" class="st4 futura-med st6">61</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[30].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[30].idProperty)">
				<rect x="453.8" y="268.2" class="property nvt-sprite-1" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 478.8739 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 478.8739 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 466.5239 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 473.6339 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 478.244 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 487.663 350.9852)" class="st4 futura-med st6">62</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[31].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[31].idProperty)">
				<rect x="388.7" y="268.2" class="property nvt-sprite-2" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 412.5239 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 412.5239 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 400.174 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 407.2739 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 411.8842 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 421.3026 350.9852)" class="st4 futura-med st6">63</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[32].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[32].idProperty)">
				<rect x="323.8" y="268.2" class="property nvt-sprite-1" width="64.9" height="183.3"/>
				<text transform="matrix(1 0 0 1 346.3539 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 346.3539 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 334.0039 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 341.1039 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 345.7142 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 355.1327 350.9852)" class="st4 futura-med st6">64</text>
			</g>
			<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[33].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[33].idProperty)">
				<rect x="258.7" y="268.2" class="property nvt-sprite-2" width="65.1" height="183.3"/>
				<text transform="matrix(1 0 0 1 282.3539 276.8351)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(1 0 0 1 282.3539 448.9551)" class="st1 futura-light st3">14.00</text>
				<text transform="matrix(6.123234e-17 -1 1 6.123234e-17 270.0039 363.3848)" class="st1 futura-light st3">40.00</text>
				<text transform="matrix(1 0 0 1 277.1139 360.8251)" class="st1 futura-light st3">560.00m2</text>
				<text transform="matrix(0.97 0 0 1 281.7142 338.455)" class="st4 futura-med st6">NAVE </text>
				<text transform="matrix(0.97 0 0 1 291.1327 350.9852)" class="st4 futura-med st6">65</text>
				
				<rect x="290.9" y="315.1" transform="matrix(0.7034 -0.7108 0.7108 0.7034 -139.6235 304.9697)" class="st7" width="9.3" height="9.3"/>
				<polygon class="st7" points="295.6,326.4 295.6,320 295.6,313.2 302.2,319.7"/>
			</g>
		</g>
	</g>
</svg>
