<svg version="1.1" class="quote__map" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 1366 340.5" style="enable-background:new 0 0 1366 340.5;" xml:space="preserve">

	<style type="text/css">
		.stz0{fill:#DCAF76;}
		.stz2{fill:#CCD609;}
		.stz4{font-size:9.3978px;}
		.stz8{font-size:7.8315px;}
		.stz9{opacity:0.6;fill:#ECAC3A;enable-background:new;}
		.stz10{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
		.stz11{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
	</style>

	<image style="overflow:visible;enable-background:new;" width="1366" height="345" xlink:href="media/assets/img/navetec/app/beta/shops/beta-shops-l0.jpg"  transform="matrix(1 0 0 1 3.333334e-02 6.666667e-02)"></image>

	<g id="base_planta_baja">
		<polygon class="stz0" points="644.2,72.1 734.1,72.2 734.1,117.2 644.2,117.2"/>
	</g>
	<g id="isla_c_comercial">
		<g id="almacen_2_">
			<polygon class="property nvt-sprite-2" points="6.2,0 60.9,0.1 60.9,127.8 6.2,127.8"/>
			<g>
				<text transform="matrix(0.9736 0 0 1 11.3394 54.0303)" class="stz2 futura-book stz4">ALMACEN</text>
			</g>
		</g>
		<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[0].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[0].idProperty)">
			<polygon class="property nvt-sprite-1" points="60.9,0.1 117.5,0.1 117.5,127.8 60.9,127.8"/>
			<g id="Info_1_">
				<g id="Titulo_1_">
					<text transform="matrix(0.9736 0 0 1 72.9888 54.0303)" class="stz2 futura-book stz4">LOCAL </text>
					<text transform="matrix(0.9736 0 0 1 83.9902 65.3301)" class="stz2 futura-book stz4">01</text>
				</g>
				<g id="Detalles_1_">
					<text transform="matrix(1 0 0 1 78.7084 8.3621)" class="white__fill futura-light stz8">04.00</text>
					<text transform="matrix(1 0 0 1 78.7084 125.0085)" class="white__fill futura-light stz8">04.00</text>
					<text transform="matrix(0 -1 1 0 68.564 76.4658)" class="white__fill futura-light stz8">09.00</text>
					<text transform="matrix(1 0 0 1 73.4799 74.1648)" class="white__fill futura-light stz8">36.00m2</text>
				</g>
			</g>
		</g>
		<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[1].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[1].idProperty)">
			<polygon class="property nvt-sprite-2" points="174,0 174,127.9 117.5,127.8 117.5,0.1"/>
			<text transform="matrix(1 0 0 1 135.2494 8.3621)" class="white__fill futura-light stz8">04.00</text>
			<text transform="matrix(1 0 0 1 135.2494 125.0085)" class="white__fill futura-light stz8">04.00</text>
			<text transform="matrix(0 -1 1 0 125.1049 76.4658)" class="white__fill futura-light stz8">09.00</text>
			<text transform="matrix(1 0 0 1 130.9115 74.1648)" class="white__fill futura-light stz8">36.00m2</text>
			<g>
				<text transform="matrix(0.9736 0 0 1 130.4204 54.0303)" class="stz2 futura-book stz4">LOCAL </text>
				<text transform="matrix(0.9736 0 0 1 141.4219 65.3301)" class="stz2 futura-book stz4">02</text>
			</g>
		</g>
		<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[2].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[2].idProperty)">
			<polygon class="property nvt-sprite-1" points="230.5,0 230.5,127.8 174,127.9 174,0"/>
			<text transform="matrix(1 0 0 1 190.976 8.3621)" class="white__fill futura-light stz8">04.00</text>
			<text transform="matrix(1 0 0 1 190.9779 125.0085)" class="white__fill futura-light stz8">04.00</text>
			<text transform="matrix(0 -1 1 0 180.8334 76.4658)" class="white__fill futura-light stz8">09.00</text>
			<text transform="matrix(1 0 0 1 186.64 74.1648)" class="white__fill futura-light stz8">36.00m2</text>
			<g>
				<text transform="matrix(0.9736 0 0 1 186.1489 54.0303)" class="stz2 futura-book stz4">LOCAL </text>
				<text transform="matrix(0.9736 0 0 1 197.1504 65.3301)" class="stz2 futura-book stz4">03</text>
			</g>
		</g>
		<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[3].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[3].idProperty)">
			<polygon class="property nvt-sprite-2" points="287,0 286.9,127.5 230.5,127.8 230.5,0"/>
			<text transform="matrix(1 0 0 1 247.4818 8.3621)" class="white__fill futura-light stz8">04.00</text>
			<text transform="matrix(1 0 0 1 247.4818 125.0085)" class="white__fill futura-light stz8">04.00</text>
			<text transform="matrix(0 -1 1 0 237.3373 76.4658)" class="white__fill futura-light stz8">09.00</text>
			<text transform="matrix(1 0 0 1 243.144 74.1648)" class="white__fill futura-light stz8">36.00m2</text>
			<g>
				<text transform="matrix(0.9736 0 0 1 242.6528 54.0303)" class="stz2 futura-book stz4">LOCAL </text>
				<text transform="matrix(0.9736 0 0 1 253.6543 65.3301)" class="stz2 futura-book stz4">04</text>
			</g>
		</g>
		<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[4].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[4].idProperty)">
			<polygon class="property nvt-sprite-1" points="343.9,0 343.9,127.4 286.9,127.5 287,0"/>
			<text transform="matrix(1 0 0 1 304.1303 8.3621)" class="white__fill futura-light stz8">04.00</text>
			<text transform="matrix(1 0 0 1 304.1303 125.0085)" class="white__fill futura-light stz8">04.00</text>
			<text transform="matrix(0 -1 1 0 293.9857 76.4658)" class="white__fill futura-light stz8">09.00</text>
			<text transform="matrix(1 0 0 1 299.7924 74.1648)" class="white__fill futura-light stz8">36.00m2</text>
			<g>
				<text transform="matrix(0.9736 0 0 1 299.3013 54.0303)" class="stz2 futura-book stz4">LOCAL </text>
				<text transform="matrix(0.9736 0 0 1 310.3027 65.3301)" class="stz2 futura-book stz4">05</text>
			</g>
		</g>
		<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[5].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[5].idProperty)">
			<polygon class="property nvt-sprite-2" points="411.1,0 411.1,127.4 343.9,127.4 343.9,0"/>
			<text transform="matrix(1 0 0 1 366.2299 8.3621)" class="white__fill futura-light stz8">04.75</text>
			<text transform="matrix(1 0 0 1 366.2299 125.0085)" class="white__fill futura-light stz8">04.75</text>
			<text transform="matrix(0 -1 1 0 351.2886 76.4658)" class="white__fill futura-light stz8">09.00</text>
			<text transform="matrix(1 0 0 1 361.894 74.1648)" class="white__fill futura-light stz8">42.75m2</text>
			<g>
				<text transform="matrix(0.9736 0 0 1 361.4028 54.0303)" class="stz2 futura-book stz4">LOCAL </text>
				<text transform="matrix(0.9736 0 0 1 372.4043 65.3301)" class="stz2 futura-book stz4">06</text>
			</g>
			<g>
				<rect x="348.4" y="45.7" transform="matrix(0.6925 -0.7214 0.7214 0.6925 72.583 269.3182)" class="stz9" width="7.6" height="7.6"/>
				<polygon class="stz9" points="352.3,54.9 352.2,49.7 352.1,44.2 357.6,49.4"/>
			</g>
		</g>
		<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[6].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[6].idProperty)">
			<polygon class="property nvt-sprite-1" points="479.4,0.1 479.4,127.6 411.1,127.4 411.1,0"/>
			<text transform="matrix(1 0 0 1 433.9682 8.3621)" class="white__fill futura-light stz8">04.75</text>
			<text transform="matrix(1 0 0 1 433.9682 125.0085)" class="white__fill futura-light stz8">04.75</text>
			<text transform="matrix(0 -1 1 0 418.4818 76.4658)" class="white__fill futura-light stz8">09.00</text>
			<text transform="matrix(0 -1 1 0 476.4272 76.4658)" class="white__fill futura-light stz8">09.00</text>
			<text transform="matrix(1 0 0 1 429.6322 74.1648)" class="white__fill futura-light stz8">42.75m2</text>
			<g>
				<text transform="matrix(0.9736 0 0 1 429.1411 54.0303)" class="stz2 futura-book stz4">LOCAL </text>
				<text transform="matrix(0.9736 0 0 1 440.1426 65.3301)" class="stz2 futura-book stz4">07</text>
			</g>
			<g>
				<rect x="416.1" y="45.7" transform="matrix(0.6925 -0.7214 0.7214 0.6925 93.4219 318.1562)" class="stz9" width="7.6" height="7.6"/>
				<polygon class="stz9" points="420,54.9 419.9,49.7 419.8,44.2 425.3,49.4"/>
			</g>
		</g>
		<g id="lineas_1_">
			<line class="stz10" x1="60.9" y1="0.1" x2="60.9" y2="127.8"/>
			<line class="stz10" x1="117.5" y1="0.1" x2="117.5" y2="127.8"/>
			<line class="stz10" x1="174" y1="0" x2="174" y2="127.9"/>
			<line class="stz10" x1="230.5" y1="0" x2="230.5" y2="127.8"/>
			<line class="stz10" x1="287" y1="0" x2="286.9" y2="127.5"/>
			<line class="stz10" x1="343.9" y1="0" x2="343.9" y2="127.4"/>
			<line class="stz10" x1="411.1" y1="0" x2="411.1" y2="127.4"/>
		</g>
	</g>
	<g id="completento">
		<polygon class="stz11" points="1364.3,0 1365.1,343.5 1.2,343.5 1.6,0"/>
	</g>
</svg>

<div class="fs__26px" style="margin-left:10%;">Locales comerciales planta alta</div>

<svg version="1.1" class="quote__map" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 1366 345.4" style="enable-background:new 0 0 1366 345.4;" xml:space="preserve">

	<style type="text/css">
		.st0{fill:#DCAF76;}
		.stx1{fill:none;stroke:#000000;stroke-miterlimit:10;}
		.stx3{fill:#CCD609;}
		.stx5{font-size:9.4047px;}
		.stx7{fill:#FFFFFF;}
		.stx9{font-size:7.8324px;}
		.stx10{opacity:0.6;fill:#ECAC3A;enable-background:new;}
		.stx11{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
		.stx12{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
	</style>

	<image style="overflow:visible;enable-background:new;" width="1366" height="345" xlink:href="media/assets/img/navetec/app/beta/shops/beta-shops-l1.jpg"  transform="matrix(1 0 0 1 0.424 -0.4892)"></image>

	<g id="base_planta_alta">
		<polygon class="st0" points="643.7,73.5 733.7,73.6 733.7,118.7 643.7,118.7"/>
		<g>
			<g>
				<line class="stx1" x1="19.2" y1="338.3" x2="6.7" y2="343.2"/>
				<line class="stx1" x1="45.7" y1="328" x2="33.2" y2="332.9"/>
				<line class="stx1" x1="72.2" y1="317.7" x2="59.7" y2="322.5"/>
				<line class="stx1" x1="98.8" y1="307.4" x2="86.3" y2="312.2"/>
				<line class="stx1" x1="125.3" y1="297.1" x2="112.8" y2="301.9"/>
				<line class="stx1" x1="151.9" y1="286.7" x2="139.3" y2="291.6"/>
				<line class="stx1" x1="178.4" y1="276.4" x2="165.9" y2="281.3"/>
				<line class="stx1" x1="204.9" y1="266.1" x2="192.4" y2="271"/>
				<line class="stx1" x1="231.5" y1="255.8" x2="219" y2="260.7"/>
				<line class="stx1" x1="258" y1="245.5" x2="245.5" y2="250.4"/>
				<line class="stx1" x1="284.5" y1="235.2" x2="272" y2="240"/>
				<line class="stx1" x1="311.1" y1="224.9" x2="298.6" y2="229.7"/>
				<line class="stx1" x1="337.6" y1="214.6" x2="325.1" y2="219.4"/>
				<line class="stx1" x1="364.2" y1="204.2" x2="351.7" y2="209.1"/>
				<line class="stx1" x1="390.7" y1="193.9" x2="378.2" y2="198.8"/>
				<line class="stx1" x1="417.2" y1="183.6" x2="404.7" y2="188.5"/>
				<line class="stx1" x1="443.8" y1="173.3" x2="431.3" y2="178.2"/>
				<line class="stx1" x1="470.3" y1="163" x2="457.8" y2="167.9"/>
				<line class="stx1" x1="494.8" y1="153.6" x2="482.3" y2="158.5"/>
			</g>
			<g>
				<line class="stx1" x1="517.1" y1="334.1" x2="494.8" y2="342.8"/>
				<line class="stx1" x1="564.4" y1="315.5" x2="542.1" y2="324.3"/>
				<line class="stx1" x1="611.7" y1="296.9" x2="589.4" y2="305.7"/>
				<line class="stx1" x1="658.9" y1="278.4" x2="636.6" y2="287.1"/>
				<line class="stx1" x1="706.2" y1="259.8" x2="683.9" y2="268.5"/>
				<line class="stx1" x1="753.5" y1="241.2" x2="731.2" y2="250"/>
				<line class="stx1" x1="800.8" y1="222.6" x2="778.5" y2="231.4"/>
				<line class="stx1" x1="848" y1="204" x2="825.7" y2="212.8"/>
				<line class="stx1" x1="895.3" y1="185.5" x2="873" y2="194.2"/>
				<line class="stx1" x1="942.6" y1="166.9" x2="920.3" y2="175.6"/>
				<line class="stx1" x1="989.8" y1="148.3" x2="967.6" y2="157.1"/>
				<line class="stx1" x1="1037.1" y1="129.7" x2="1014.8" y2="138.5"/>
				<line class="stx1" x1="1084.4" y1="111.2" x2="1062.1" y2="119.9"/>
				<line class="stx1" x1="1131.7" y1="92.6" x2="1109.4" y2="101.3"/>
				<line class="stx1" x1="1178.9" y1="74" x2="1156.7" y2="82.8"/>
				<line class="stx1" x1="1226.2" y1="55.4" x2="1203.9" y2="64.2"/>
				<line class="stx1" x1="1273.5" y1="36.8" x2="1251.2" y2="45.6"/>
				<line class="stx1" x1="1320.8" y1="18.3" x2="1298.5" y2="27"/>
				<line class="stx1" x1="1364.4" y1="1.4" x2="1342.1" y2="10.1"/>
			</g>
			<g>
				<line class="stx1" x1="1342.5" y1="334.3" x2="1365.2" y2="343.2"/>
				<line class="stx1" x1="1294.4" y1="315.6" x2="1317.1" y2="324.5"/>
				<line class="stx1" x1="1246.3" y1="296.9" x2="1269" y2="305.8"/>
				<line class="stx1" x1="1198.3" y1="278.2" x2="1220.9" y2="287.1"/>
				<line class="stx1" x1="1150.2" y1="259.5" x2="1172.8" y2="268.4"/>
				<line class="stx1" x1="1102.1" y1="240.8" x2="1124.8" y2="249.7"/>
				<line class="stx1" x1="1054" y1="222.1" x2="1076.7" y2="231"/>
				<line class="stx1" x1="1005.9" y1="203.4" x2="1028.6" y2="212.3"/>
				<line class="stx1" x1="957.8" y1="184.7" x2="980.5" y2="193.6"/>
				<line class="stx1" x1="909.8" y1="166" x2="932.4" y2="174.9"/>
				<line class="stx1" x1="861.7" y1="147.3" x2="884.3" y2="156.2"/>
				<line class="stx1" x1="813.6" y1="128.6" x2="836.3" y2="137.5"/>
				<line class="stx1" x1="765.5" y1="109.9" x2="788.2" y2="118.8"/>
				<line class="stx1" x1="717.4" y1="91.2" x2="740.1" y2="100.1"/>
				<line class="stx1" x1="669.3" y1="72.5" x2="692" y2="81.4"/>
				<line class="stx1" x1="621.3" y1="53.8" x2="643.9" y2="62.7"/>
				<line class="stx1" x1="573.2" y1="35.1" x2="595.8" y2="44"/>
				<line class="stx1" x1="525.1" y1="16.4" x2="547.8" y2="25.3"/>
				<line class="stx1" x1="480.7" y1="-0.6" x2="503.4" y2="8.3"/>
			</g>
			<g>
				<line class="stx1" x1="482.3" y1="338" x2="494.8" y2="342.8"/>
				<line class="stx1" x1="455.8" y1="327.7" x2="468.3" y2="332.5"/>
				<line class="stx1" x1="429.2" y1="317.4" x2="441.7" y2="322.2"/>
				<line class="stx1" x1="402.7" y1="307" x2="415.2" y2="311.9"/>
				<line class="stx1" x1="376.2" y1="296.7" x2="388.7" y2="301.6"/>
				<line class="stx1" x1="349.6" y1="286.4" x2="362.1" y2="291.3"/>
				<line class="stx1" x1="323.1" y1="276.1" x2="335.6" y2="281"/>
				<line class="stx1" x1="296.5" y1="265.8" x2="309.1" y2="270.7"/>
				<line class="stx1" x1="270" y1="255.5" x2="282.5" y2="260.3"/>
				<line class="stx1" x1="243.5" y1="245.2" x2="256" y2="250"/>
				<line class="stx1" x1="216.9" y1="234.9" x2="229.4" y2="239.7"/>
				<line class="stx1" x1="190.4" y1="224.5" x2="202.9" y2="229.4"/>
				<line class="stx1" x1="163.8" y1="214.2" x2="176.4" y2="219.1"/>
				<line class="stx1" x1="137.3" y1="203.9" x2="149.8" y2="208.8"/>
				<line class="stx1" x1="110.8" y1="193.6" x2="123.3" y2="198.5"/>
				<line class="stx1" x1="84.2" y1="183.3" x2="96.7" y2="188.2"/>
				<line class="stx1" x1="57.7" y1="173" x2="70.2" y2="177.8"/>
				<line class="stx1" x1="31.2" y1="162.7" x2="43.7" y2="167.5"/>
				<line class="stx1" x1="6.7" y1="153.3" x2="19.2" y2="158.1"/>
			</g>
		</g>
	</g>
	<g id="isla_d_cmercial">
		<g id="cuarto_de_maquinas_2_">
			<polygon id="cuarto_de_maquinas_3_" class="pb-sprite-2" points="5.3,1.4 60.1,1.4 60.1,129.3 5.3,129.3"/>
			<g>
				<text transform="matrix(0.9736 0 0 1 14.3652 55.418)" class="stx3 futura-book stx5">CUARTO</text>
				<text transform="matrix(0.9736 0 0 1 27.1191 66.7178)" class="stx3 futura-book stx5">DE</text>
				<text transform="matrix(0.9736 0 0 1 7.9395 78.0176)" class="stx3 futura-book stx5">MÁQUINAS</text>
			</g>
		</g>
		<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[7].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[7].idProperty)">
			<polygon class="property nvt-sprite-1" points="60.1,1.4 116.7,1.4 116.7,129.3 60.1,129.3"/>
			<g>
				<text transform="matrix(0.9736 0 0 1 72.1265 55.418)" class="stx3 futura-book stx5">LOCAL </text>
				<text transform="matrix(0.9736 0 0 1 83.1279 66.7178)" class="stx3 futura-book stx5">16</text>
			</g>
			<text transform="matrix(1 0 0 1 77.8514 9.7161)" class="stx7 futura-light stx9">04.00</text>
			<text transform="matrix(1 0 0 1 77.8514 126.446)" class="stx7 futura-light stx9">04.00</text>
			<text transform="matrix(0 -1 1 0 67.6985 77.8672)" class="stx7 futura-light stx9">09.00</text>
			<text transform="matrix(1 0 0 1 72.6272 75.5671)" class="stx7 futura-light stx9">36.00m2</text>
		</g>
		<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[8].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[8].idProperty)">
			<polygon class="property nvt-sprite-2" points="173.2,1.3 173.2,129.3 116.7,129.3 116.7,1.4"/>
			<text transform="matrix(1 0 0 1 134.4329 9.7161)" class="stx7 futura-light stx9">04.00</text>
			<text transform="matrix(1 0 0 1 134.4329 126.446)" class="stx7 futura-light stx9">04.00</text>
			<text transform="matrix(0 -1 1 0 124.2786 77.8672)" class="stx7 futura-light stx9">09.00</text>
			<text transform="matrix(1 0 0 1 130.1004 75.5671)" class="stx7 futura-light stx9">36.00m2</text>
			<g>
				<text transform="matrix(0.9736 0 0 1 129.5996 55.418)" class="stx3 futura-book stx5">LOCAL </text>
				<text transform="matrix(0.9736 0 0 1 140.6011 66.7178)" class="stx3 futura-book stx5">17</text>
			</g>
		</g>
		<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[9].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[9].idProperty)">
			<polygon class="property nvt-sprite-1" points="229.8,1.4 229.8,129.2 173.2,129.3 173.2,1.3"/>
			<text transform="matrix(1 0 0 1 190.198 9.7161)" class="stx7 futura-light stx9">04.00</text>
			<text transform="matrix(1 0 0 1 190.2019 126.446)" class="stx7 futura-light stx9">04.00</text>
			<text transform="matrix(0 -1 1 0 180.0471 77.8672)" class="stx7 futura-light stx9">09.00</text>
			<text transform="matrix(1 0 0 1 185.8689 75.5671)" class="stx7 futura-light stx9">36.00m2</text>
			<g>
				<text transform="matrix(0.9736 0 0 1 185.3682 55.418)" class="stx3 futura-book stx5">LOCAL </text>
				<text transform="matrix(0.9736 0 0 1 196.3696 66.7178)" class="stx3 futura-book stx5">18</text>
			</g>
		</g>
		<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[10].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[10].idProperty)">
			<polygon class="property nvt-sprite-2" points="286.3,1.4 286.2,128.9 229.8,129.2 229.8,1.4"/>
			<text transform="matrix(1 0 0 1 246.7469 9.7161)" class="stx7 futura-light stx9">04.00</text>
			<text transform="matrix(1 0 0 1 246.7469 126.446)" class="stx7 futura-light stx9">04.00</text>
			<text transform="matrix(0 -1 1 0 236.594 77.8672)" class="stx7 futura-light stx9">09.00</text>
			<text transform="matrix(1 0 0 1 242.4138 75.5671)" class="stx7 futura-light stx9">36.00m2</text>
			<g>
				<text transform="matrix(0.9736 0 0 1 241.9131 55.418)" class="stx3 futura-book stx5">LOCAL </text>
				<text transform="matrix(0.9736 0 0 1 252.9146 66.7178)" class="stx3 futura-book stx5">19</text>
			</g>
		</g>
		<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[11].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[11].idProperty)">
			<polygon class="property nvt-sprite-1" points="343.2,1.4 343.2,128.8 286.2,128.9 286.3,1.4"/>
			<text transform="matrix(1 0 0 1 303.4358 9.7161)" class="stx7 futura-light stx9">04.00</text>
			<text transform="matrix(1 0 0 1 303.4358 126.446)" class="stx7 futura-light stx9">04.00</text>
			<text transform="matrix(0 -1 1 0 293.2834 77.8672)" class="stx7 futura-light stx9">09.00</text>
			<text transform="matrix(1 0 0 1 299.1033 75.5671)" class="stx7 futura-light stx9">36.00m2</text>
			<g>
				<text transform="matrix(0.9736 0 0 1 298.6025 55.418)" class="stx3 futura-book stx5">LOCAL </text>
				<text transform="matrix(0.9736 0 0 1 309.604 66.7178)" class="stx3 futura-book stx5">20</text>
			</g>
		</g>
		<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[12].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[12].idProperty)">
			<polygon class="property nvt-sprite-2" points="410.4,1.4 410.5,128.9 343.2,128.8 343.2,1.4"/>
			<text transform="matrix(1 0 0 1 365.5799 9.7161)" class="stx7 futura-light stx9">04.75</text>
			<text transform="matrix(1 0 0 1 365.5799 126.446)" class="stx7 futura-light stx9">04.75</text>
			<text transform="matrix(0 -1 1 0 350.6272 77.8672)" class="stx7 futura-light stx9">09.00</text>
			<text transform="matrix(1 0 0 1 361.2508 75.5671)" class="stx7 futura-light stx9">42.75m2</text>
			<g>
				<text transform="matrix(0.9736 0 0 1 360.75 55.418)" class="stx3 futura-book stx5">LOCAL </text>
				<text transform="matrix(0.9736 0 0 1 371.7515 66.7178)" class="stx3 futura-book stx5">21</text>
			</g>
			<g>
				<rect x="347.7" y="47.1" transform="matrix(0.6925 -0.7214 0.7214 0.6925 71.3803 269.2332)" class="stx10" width="7.6" height="7.6"/>
				<polygon class="stx10" points="351.6,56.3 351.5,51.1 351.4,45.5 356.9,50.8"/>
			</g>
		</g>
		<g class="property__active" ng-class="inventary.propertyStatus[inventary.inmovables[13].idPropertyStatus].class" ng-click="inventary.showPropertyDetails(inventary.inmovables[13].idProperty)">
			<polygon class="property nvt-sprite-1" points="478.8,1.4 478.9,129.1 410.5,128.9 410.4,1.4"/>
			<g>
				<text transform="matrix(1 0 0 1 433.368 9.7161)" class="stx7 futura-light stx9">04.75</text>
				<text transform="matrix(1 0 0 1 433.368 126.446)" class="stx7 futura-light stx9">04.75</text>
				<text transform="matrix(0 -1 1 0 417.8699 77.8672)" class="stx7 futura-light stx9">09.00</text>
				<text transform="matrix(0 -1 1 0 475.8572 77.8672)" class="stx7 futura-light stx9">09.00</text>
				<text transform="matrix(1 0 0 1 429.0369 75.5671)" class="stx7 futura-light stx9">42.75m2</text>
				<g>
					<text transform="matrix(0.9736 0 0 1 428.5361 55.418)" class="stx3 futura-book stx5">LOCAL </text>
					<text transform="matrix(0.9736 0 0 1 439.5376 66.7178)" class="stx3 futura-book stx5">22</text>
				</g>
				<g>
					<rect x="415.5" y="47.1" transform="matrix(0.6925 -0.7214 0.7214 0.6925 92.2201 318.1437)" class="stx10" width="7.6" height="7.6"/>
					<polygon class="stx10" points="419.4,56.3 419.3,51.1 419.2,45.5 424.7,50.8"/>
				</g>
			</g>
		</g>
		<g id="lineas_2_">
			<line class="stx11" x1="60.1" y1="1.4" x2="60.1" y2="129.3"/>
			<line class="stx11" x1="116.7" y1="1.4" x2="116.7" y2="129.3"/>
			<line class="stx11" x1="173.2" y1="1.3" x2="173.2" y2="129.3"/>
			<line class="stx11" x1="229.8" y1="1.4" x2="229.8" y2="129.2"/>
			<line class="stx11" x1="286.3" y1="1.4" x2="286.2" y2="128.9"/>
			<line class="stx11" x1="343.2" y1="1.4" x2="343.2" y2="128.8"/>
			<line class="stx11" x1="410.4" y1="1.4" x2="410.5" y2="128.9"/>
		</g>
	</g>
	<g id="completento">
		<polygon class="stx12" points="1364.6,0.7 1365.4,345.1 1.2,345.1 1.6,0.7"/>
	</g>
</svg>
